@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal; 
    background: #c8c9c7;
    color: #0f141e;
}

.avatar{
    width: 300px;
    height: 310px;
    border-radius: 50px;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.25);
}

.icons-1, .icons-2, .icons-3 {
    width: 30px;
    border-radius: 15px;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.25);
    max-width: 300px;
    margin: 10px;
    border: 10px;
    display: inline-flexbox;
    /* position: absolute; */
    
}
/* .icons-1, .icons-2, .icons-3 :hover {
    border: 3px solid grey;
} */

.container{
    max-width: 750px;
    margin: auto;
}

.info {
    margin-bottom: 20px;
    display: flex;
}

.info-text {
    margin-left: 30px;
    margin-right: 30px;
    
}

.info-text p{
    font-style: italic;
    font-weight: bold;
    color: #717c92;
    margin: 0px;
    
}

.info-text h4{
    margin-bottom: 10px;
}

@media (max-width: 720px){
    .info {
        display: block;
        text-align: center;
    }
}

.card {
    /* border: 1px solid black; */
    border-radius: 20px;
    /* background: #fff; */
    /* padding: 5px;
    padding-left: 20px; */
    padding: 15px 20px;
    margin-bottom: 15px;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.25);
}

.card h2{
    margin-bottom: 10px;
}
.bg-yellow {
    background: rgba(153, 205, 50, 0.848);
}
.bg-red {
    background: rgba(205, 146, 50, 0.86);
}

.btn{
    background: #111;
    padding: 15px 20px;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    font-family: inherit;
    cursor: pointer;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.25);
}
.btn:hover{
    opacity: 0.8;
    padding: 17px 22px;
}

.list {
    padding: 0 20px;
}

.list li {
    color: #525458;
    margin-bottom: 10px;
}

.list :hover {
    color: darkblue;
    cursor: default;
}

.table {
    width: 100%;
    /* border: 2px solid #111; */
}

.table td {
    padding-bottom: 10px;
    /* border: 2px solid #111; */
    
}

.table td:nth-child(2), .table td:nth-child(3) {
    color: hsl(328, 5%, 48%);
}

.table td:hover {
    cursor: default;
    color: rgb(60, 74, 74);
}

.form h2 {
    text-align: center;
}

.form-group label{
    display: block;
    font-size: 14px;
    color:#86898f
}

.form-row {
    margin-bottom: 10px;
    display: flex;
}

.form-row .form-group {
    /* display: inline-block; */
    margin-right: 20px;
    width: 50%;
    /* width: calc(50%-20px); */
}

.form-row .form-group:last-child {
    margin-right: 0;
}

@media (max-width: 750px) {
    .form-row {
        display: block;
    }

    .form-row .form-group {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}

.form-group input, .form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: rgb(211, 206, 206);
    border-bottom: 1px solid rgb(117, 23, 23);
    padding-top: 0px;
    margin-top: 0px;
    border-radius: 10px;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
    padding-left: 10px;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.25);
}

.input:hover {
    background: rgb(232, 226, 226);
}